In [1]:
import pandas as pd
import numpy as np 
import seaborn as sb
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../DataSets/Stockslive.csv")
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category
0,0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry
1,1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry
2,2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry
3,3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry
4,4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry
...,...,...,...,...,...,...,...,...,...,...
10813,2218,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways
10814,2219,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways
10815,2220,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways
10816,2221,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways
10817,2222,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways

In [3]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry
...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways

# Daily_return = Close - Open / Open * 100

In [4]:
df["Daily_return"] = df.Close - df.Open / df.Open * 100
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902
...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000

# Price_range = High - Low

In [5]:
df["Price_range"] = df.High - df.Low
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902
...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012

# Volatility = High - Low / Close * 100

In [6]:
df["Volatility"] = df.High - df.Low / df.Close * 100
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771
...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834

# Cumulative_returns = Adj Close.pct_change().cumsum()

In [7]:
df["Cumulative_returns"] = df['Adj Close'].pct_change().cumsum()
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,NaN
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420

In [8]:
df.Cumulative_returns.fillna(0,inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420

# Average_price = Open + Close / 2

In [9]:
df["Average_price"] = df.Open + df.Close / 2
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000

# SMA_50 = Close.rolling(window=50).mean()

In [10]:
df["SMA_50"] = df.Close.rolling(window=50).mean()
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,NaN
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,NaN
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,NaN
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,NaN
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003

In [11]:
df.SMA_50.fillna(0,inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003

# SMA_200= Close.rolling(window=200).mean()

In [12]:
df["SMA_200"] = df.Close.rolling(window=200).mean()
df.SMA_200.fillna(0,inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000,0.000000
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000,0.000000
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000,0.000000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000,0.000000
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004,730.830251
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003,728.939751
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003,727.103751
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003,725.255001
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003,723.455251

# Avg_price = Open + High + Low + Close / 4

In [13]:
df["Avg_price"] = df.Open + df.High + df.Low + df.Close / 4
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200,Avg_price
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000,0.000000,12347.775024
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000,0.000000,12335.250183
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000,0.000000,12148.837646
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000,0.000000,11988.450012
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000,0.000000,12032.075073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004,730.830251,2157.825012
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003,728.939751,2170.212433
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003,727.103751,2175.837524
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003,725.255001,2206.225006
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003,723.455251,2208.174988

# Volatility_ratio = price_range / Avg_price

In [14]:
df["Volatility_ratio"] = df.Price_range / df.Avg_price
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200,Avg_price,Volatility_ratio
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000,0.000000,12347.775024,0.004778
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000,0.000000,12335.250183,0.003555
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000,0.000000,12148.837646,0.006980
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000,0.000000,11988.450012,0.005672
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000,0.000000,12032.075073,0.006059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004,730.830251,2157.825012,0.014042
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003,728.939751,2170.212433,0.010483
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003,727.103751,2175.837524,0.006388
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003,725.255001,2206.225006,0.003853
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003,723.455251,2208.174988,0.004053

# Cumulative_value = np.Sum (volume)

In [15]:
df["Cumulative_value"] = np.sum(df.Volume)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200,Avg_price,Volatility_ratio,Cumulative_value
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000,0.000000,12347.775024,0.004778,73793966611
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000,0.000000,12335.250183,0.003555,73793966611
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000,0.000000,12148.837646,0.006980,73793966611
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000,0.000000,11988.450012,0.005672,73793966611
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000,0.000000,12032.075073,0.006059,73793966611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004,730.830251,2157.825012,0.014042,73793966611
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003,728.939751,2170.212433,0.010483,73793966611
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003,727.103751,2175.837524,0.006388,73793966611
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003,725.255001,2206.225006,0.003853,73793966611
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003,723.455251,2208.174988,0.004053,73793966611

# Price_oscillator = SMA_50 - SMA_200

In [16]:
df["Price_oscillator"] = df.SMA_200- df.SMA_50
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,Price_range,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200,Avg_price,Volatility_ratio,Cumulative_value,Price_oscillator
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,59.000000,3732.999714,0.000000,5695.550049,0.000000,0.000000,12347.775024,0.004778,73793966611,0.000000
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,43.850098,3711.521697,-0.007321,5702.700073,0.000000,0.000000,12335.250183,0.003555,73793966611,0.000000
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,84.800049,3671.977407,-0.031493,5612.875000,0.000000,0.000000,12148.837646,0.006980,73793966611,0.000000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,68.000000,3619.430895,-0.038252,5535.150024,0.000000,0.000000,11988.450012,0.005672,73793966611,0.000000
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,72.899902,3649.436771,-0.018862,5543.949951,0.000000,0.000000,12032.075073,0.006059,73793966611,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,30.299988,585.625280,97.873441,986.250000,696.013004,730.830251,2157.825012,0.014042,73793966611,34.817247
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,22.750000,580.567661,97.869453,998.724976,695.392003,728.939751,2170.212433,0.010483,73793966611,33.547748
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,13.900024,579.200656,97.885922,1002.125000,694.954003,727.103751,2175.837524,0.006388,73793966611,32.149748
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,8.500000,584.500814,97.895063,1016.450012,694.702003,725.255001,2206.225006,0.003853,73793966611,30.552998
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,8.950012,583.947834,97.897420,1021.250000,694.477003,723.455251,2208.174988,0.004053,73793966611,28.978248

# Volume_weighted_price = close * volume / volume

In [17]:
df['Volume_weighted_price'] = df.Close * df.Volume / df.Volume
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Category,Daily_return,...,Volatility,Cumulative_returns,Average_price,SMA_50,SMA_200,Avg_price,Volatility_ratio,Cumulative_value,Price_oscillator,Volume_weighted_price
0,2024-01-01,3790.000000,3832.000000,3773.000000,3811.100098,3757.422119,825907,TCS,IT_industry,3711.100098,...,3732.999714,0.000000,5695.550049,0.000000,0.000000,12347.775024,0.004778,73793966611,0.000000,3811.100098
1,2024-01-02,3811.100098,3811.100098,3767.250000,3783.199951,3729.915039,1344068,TCS,IT_industry,3683.199951,...,3711.521697,-0.007321,5702.700073,0.000000,0.000000,12335.250183,0.003555,73793966611,0.000000,3783.199951
2,2024-01-03,3767.000000,3771.850098,3687.050049,3691.750000,3639.753174,1803075,TCS,IT_industry,3591.750000,...,3671.977407,-0.031493,5612.875000,0.000000,0.000000,12148.837646,0.006980,73793966611,0.000000,3691.750000
3,2024-01-04,3701.750000,3719.000000,3651.000000,3666.800049,3615.154541,3598144,TCS,IT_industry,3566.800049,...,3619.430895,-0.038252,5535.150024,0.000000,0.000000,11988.450012,0.005672,73793966611,0.000000,3666.800049
4,2024-01-05,3675.000000,3747.750000,3674.850098,3737.899902,3685.252930,1963127,TCS,IT_industry,3637.899902,...,3649.436771,-0.018862,5543.949951,0.000000,0.000000,12032.075073,0.006059,73793966611,0.000000,3737.899902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10813,2024-09-05,654.000000,684.000000,653.700012,664.500000,664.500000,3457002,RITES,Railways,564.500000,...,585.625280,97.873441,986.250000,696.013004,730.830251,2157.825012,0.014042,73793966611,34.817247,664.500000
10814,2024-09-06,667.799988,679.849976,657.099976,661.849976,661.849976,1482454,RITES,Railways,561.849976,...,580.567661,97.869453,998.724976,695.392003,728.939751,2170.212433,0.010483,73793966611,33.547748,661.849976
10815,2024-09-09,665.750000,677.900024,664.000000,672.750000,672.750000,1991325,RITES,Railways,572.750000,...,579.200656,97.885922,1002.125000,694.954003,727.103751,2175.837524,0.006388,73793966611,32.149748,672.750000
10816,2024-09-10,677.000000,684.000000,675.500000,678.900024,678.900024,624747,RITES,Railways,578.900024,...,584.500814,97.895063,1016.450012,694.702003,725.255001,2206.225006,0.003853,73793966611,30.552998,678.900024
10817,2024-09-11,681.000000,683.000000,674.049988,680.500000,680.500000,704295,RITES,Railways,580.500000,...,583.947834,97.897420,1021.250000,694.477003,723.455251,2208.174988,0.004053,73793966611,28.978248,680.500000